@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Kumar+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');



.snake {
  background-color: green;
  animation: around 4s linear infinite,
    glow .35s alternate-reverse ease-in-out infinite;
}

@keyframes around {
    0% { left: 0; top: 0; }
    25% { left: 100%; top:0;  }
    50% { left: 100%; top: 100%; }
    75% { left: 0; top: 100%; }
    100% { left: 0; top: 0; }
}
@keyframes glow {
    0% { opacity: .2; }
    100% { opacity: 1; }
}

#canvas {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-between;
  flex: 1;
  list-style: none;
  height: 23px;
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
  flex: 1;
  height: 100%;
}

li.food {
  display: flex;
  align-items: center;
    justify-content: center;
    flex-direction: column;
}

.food {
  color: red;
  overflow: hidden;
}

div {
  margin: auto;
}

.obstacle {
  background-image: url("http://forum.terasology.org/attachments/fire-gif.1127/");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(252, 148, 12, 0.4)
}

#canvas p {
  margin: 0 auto;
  /*margin-top: 180px;*/

}

.game-over {
  font-family: 'Barrio', cursive;
  font-size: 60px;
  color: red;

}

.top-text {
  width: 500px;
  display: flex;
  justify-content: space-between;
  font-family: 'Kumar One', cursive;

}

.level {
  margin-left: 3px;
}

.score {
  margin-right: 3px;
}

p.game-over-score {
  margin-top: 100px;
  font-family: 'Kumar One', cursive;
  font-size: 32px;
  color: white;

}

.main-container {
  display: flex;
  justify-content: space-between;
}


.ranking {
  display: flex;
  flex-direction: column;
  color: gold;
  margin: 0 auto;
}

.high-score-head {
  margin: 0 auto;
  color: gold;
}

h1 {
  margin-bottom: 3px;
}

/*.fa-4x {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
}*/

a.linkedin-link {
  position: absolute;
  top: 5px;
  right: 65px;
  color: black;
}

a.github-link {
  position: absolute;
  top: 5px;
  right: 5px;
  color: black;
}


a.github-link:link, a.linkedin-link:link
{
   color: black;
   text-decoration: none;
}
a.github-link:visited, a.linkedin-link:visited
{
   color: black;
   text-decoration: none;
}
a.github-link:hover
{
   color: #592a7d;
   text-decoration: none;
}

a.linkedin-link:hover {
  color: #0077b5;
  text-decoration: none;
}

a.github-link:active, a.linkedin-link:active
{
   color: black;
   text-decoration: none;
}

.how-to {
  font-family: 'Roboto', sans-serif;
  width: 500px;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  justify-content: center;
}
